.header {
  overflow: hidden;
  padding: 1rem 0;
  font-family: "GloberBold";
}
.header ul {
  margin: 0;
  padding: 0;
}
.header ul li {
  list-style: none;
  display: inline-block;
  position: relative;
}
.header ul li a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 0.1875rem 0.375rem;
}
.header ul li a strong {
  margin-right: 0.3125rem;
}
.header ul .image {
  display: block;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 0.625rem 0;
  color: black;
}

.hover-right:after {
  content: "";
  position: absolute;
  width: 80%;
  height: 0.0875rem;
  bottom: 0;
  left: 0.3125rem;
  background-color: black;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s;
}
.hover-right:hover:after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.hover-left:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.0875rem;
  bottom: 0.5rem;
  left: 0;
  background-color: black;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s;
}
.hover-left:hover:after {
  transform: scaleX(1);
}

.col-sm-12 .col-sm-8 {
  position: absolute;
  min-height: 1px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.col-sm-12 .col-sm-8 h2 {
  font-family: "GloberxBold";
  font-size: 44px;
  text-transform: uppercase;
  margin-top: 4px;
}
.col-sm-12 h3 {
  font-family: "GloberxBold";
  text-transform: uppercase;
  margin-top: 1.0625rem;
  margin-bottom: 0.25rem;
  text-align: center;
}
.col-sm-12 .col-sm-4 {
  right: 1.875em;
  min-height: 0.0625rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  color: black;
}
.col-sm-12 .col-sm-4 a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
.col-sm-12 .col-sm-4 a:hover, .col-sm-12 .col-sm-4 a:focus {
  color: black;
  text-decoration: underline;
}
.col-sm-12 .col-sm-4 a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

h3 {
  text-align: center;
}

.panel {
  margin-bottom: 35px;
  background-color: #e6e7e9;
  opacity: 80%;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  height: 41vh;
}

.shopbymenu {
  padding: 0.125rem 0 1.4375rem 0;
  margin: 0.9375rem 0 1.875rem 0;
  overflow: hidden;
}
.shopbymenu h2 {
  margin-bottom: 0.6875rem;
}
.shopbymenu h4 {
  font-family: "GloberBold";
  font-size: 1rem;
}
.shopbymenu .btn {
  text-decoration: none;
}
.shopbymenu .btn-primary {
  background: none;
  color: black;
  font-family: "GloberBold";
  padding: 0.625rem 0.875rem;
}

.mainmenu {
  list-style: none;
  padding: 0;
  display: flex;
}
.mainmenu .my-menu ul {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
}
.mainmenu li {
  position: relative;
  display: inline-block;
  width: 19%;
  padding: 0.625rem 0 0.0625rem 0;
}
.mainmenu li a {
  color: gray;
  font-size: 1.25rem;
}
.mainmenu li a a.active {
  color: black;
  font-weight: bold;
}
.mainmenu li a:hover, .mainmenu li a:focus {
  color: black;
  text-decoration: none;
}
.mainmenu li:hover > ul {
  display: block;
}
.mainmenu li:focus-within > ul {
  display: block;
}

.popular__image {
  vertical-align: middle;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-bottom: 0.25rem;
}
.popular__image #menu-slider-container {
  width: 100%;
  overflow: hidden;
  height: 13.875rem;
  position: relative;
}
.popular__image #menu-slider {
  list-style-type: none;
  position: relative;
  margin: 0rem 1.25rem;
  padding: 0rem;
}
.popular__image #menu-slider li {
  float: left;
}
.popular__image .menu-slider-link {
  display: block;
  width: 10.75rem;
  border-radius: 0.3125rem;
  padding: 0.625rem;
  text-align: center;
  margin: 0.625rem 0rem 0.625rem 0.875rem;
  height: 9.625rem;
  background-size: 100%;
}
.popular__image .menu-slider-link .list__image {
  width: 2.5rem;
  height: auto;
}
.popular__image .menu-slider-link:hover {
  transform: scale(1.05);
}
.popular__image #menu-slider-prev, .popular__image #menu-slider-next {
  position: absolute;
  background: white;
  padding: 0.9375rem 0.5rem;
  padding-top: 1.0625rem;
  top: 1.25rem;
  border-radius: 0.3125rem;
  display: none;
  cursor: pointer;
  opacity: 0.7;
  transition: 200ms ease-in-out;
  font-weight: bold;
}
.popular__image #menu-slider-prev:hover, .popular__image #menu-slider-next:hover {
  opacity: 1;
}
.popular__image #menu-slider-prev {
  top: 37%;
  left: -2%;
}
.popular__image #menu-slider-next {
  top: 37%;
  right: -2%;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1 small,
h1 .small, h2 small,
h2 .small, h3 small,
h3 .small, h4 small,
h4 .small, h5 small,
h5 .small, h6 small,
h6 .small,
.h1 small,
.h1 .small, .h2 small,
.h2 .small, .h3 small,
.h3 .small, .h4 small,
.h4 .small, .h5 small,
.h5 .small, .h6 small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777777;
}

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h4 small,
h4 .small, .h4 small,
.h4 .small,
h5 small,
h5 .small, .h5 small,
.h5 .small,
h6 small,
h6 .small, .h6 small,
.h6 .small {
  font-size: 75%;
}

h1, .h1 {
  font-size: 36px;
}

h2, .h2 {
  font-size: 30px;
}

h3, .h3 {
  font-size: 24px;
}

h4, .h4 {
  font-size: 18px;
}

h5, .h5 {
  font-size: 14px;
}

h6, .h6 {
  font-size: 0.9375rem;
}

p {
  margin: 0 0 10px;
}

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

h2 {
  font-family: "GloberxBold";
  font-size: 44px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h5 {
  font-family: "GloberBold";
  font-size: 1.625rem;
  text-transform: uppercase;
}
h5 .light {
  font-family: "GloberSemiBold";
}

#product-list {
  padding: 0.625rem;
  padding-top: 1.25rem;
}

.col-sm-4, .col-sm-12 {
  position: relative;
  min-height: 0.0625rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.text-right {
  text-align: right;
}

div {
  display: block;
}

section {
  display: block;
}

a {
  background-color: transparent;
  color: #000;
  text-decoration: none;
}
a:hover, a:focus {
  color: black;
  text-decoration: underline;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.product-list-all {
  position: relative;
  display: block;
}

#filters {
  width: 220px;
  margin: 0;
  position: absolute;
  top: 0;
}

.sidebar h4 {
  font-family: "GloberxBold";
  font-size: 1.125rem;
}
.sidebar h4 span {
  display: inline-block;
  padding: 0 0.3125rem;
}
.sidebar .newStyle {
  border: 1px solid black;
}
.sidebar .button-primary {
  background: #E5E7E9;
  padding: 15px 15px 10px 15px;
  margin: 20px 0 35px 0;
}
.sidebar .button-primary span {
  margin-right: 1.25rem;
}
.sidebar .checkbox {
  margin: 1.25rem auto;
  text-transform: capitalize;
  font-size: large;
}

.showBtn {
  padding: 20px 0;
  display: block;
}

.line {
  border-bottom: 1px solid #a5a5a5;
  font-size: 1px;
  display: block;
  height: 1px;
  margin-bottom: 30px;
}

.buttonSlider {
  border: solid 0.0625rem;
  padding: 0.5rem 0.3125rem 0.3125rem 0.3125rem;
  text-align: center;
  margin-bottom: 1.875rem;
  line-height: 1.25rem;
  font-family: "GloberxBold";
}
.buttonSlider .prev, .buttonSlider .next {
  padding: 0.125rem 0.3125rem;
  font-family: "GloberRegular";
}
.buttonSlider .prev {
  float: left;
}
.buttonSlider .next {
  float: right;
}

.section h6 {
  font-family: "GloberBold";
  margin-bottom: 15px;
}
.section h6 .btn-section {
  float: right;
  background-color: transparent;
  border: none;
  font-size: 1.5625rem;
  padding-top: 0;
  line-height: 0.6875rem;
  font-family: "GloberSemiBold";
  max-width: 0.1875rem;
  white-space: nowrap;
}
.section .btn {
  color: #24c9f6;
  margin: 0 -0.75rem;
}

.color-picker-section {
  margin-bottom: 1.875rem;
}
.color-picker-section .wrapper {
  margin: 0 -0.3125rem;
}
.color-picker-section .color-picker {
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  margin: 15px;
  height: 33px;
  transition: 0.3s all;
  opacity: 1;
}
.color-picker-section .color-picker:hover, .color-picker-section .color-picker.selected {
  background: rgba(187, 182, 182, 0.5);
  -webkit-box-shadow: inset 0px 0px 0px 4px white;
  -moz-box-shadow: inset 0px 0px 0px 4px white;
  box-shadow: inset 0px 0px 0px 4px white;
}

.size .wrapper {
  margin-bottom: 0.9375rem;
  overflow: hidden;
}
.size .size-cel {
  float: left;
  display: block;
  width: 20%;
  text-align: center;
  padding: 0.625rem 0;
  border: solid 0.0625rem #858585;
}
.size .size-cel:hover, .size .size-cel.selected {
  background: black;
  color: white;
  text-decoration: none;
}
.size .size-cel.selected {
  background: #8A9097;
}

.tabsCustom {
  border: solid 0.0625rem;
  text-align: center;
  margin-bottom: 1.875rem;
  line-height: 1.25rem;
  font-family: "GloberxBold";
  overflow: hidden;
  box-sizing: border-box;
}
.tabsCustom ul {
  margin: 0;
  padding: 0;
}
.tabsCustom ul li {
  margin: 0;
  padding: 0.5rem 0.3125rem 0.3125rem 0.3125rem;
  float: left;
  width: 50%;
  text-transform: uppercase;
  list-style: none;
  box-sizing: border-box;
}
.tabsCustom ul li.selected {
  background: black;
}
.tabsCustom ul li.selected a {
  color: white;
  display: block;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover, .btn:focus, .btn.focus {
  text-decoration: none;
}
.btn:active, .btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled, .btn[disabled],
.btn fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

.space2 {
  display: block;
  height: 1.25rem;
}

.cat_class .wrapper {
  margin-bottom: 0.9375rem;
  overflow: hidden;
}
.cat_class .cat_cel {
  display: flex;
  flex-direction: column;
  width: 20%;
  text-align: center;
  padding: 0.625rem 0;
  border: solid 0.0625rem #858585;
}
.cat_class .cat_cel:hover, .cat_class .cat_cel.selected {
  background: black;
  color: white;
  text-decoration: none;
}
.cat_class .cat_cel.selected {
  background: #8A9097;
}

#product-list-wrapper {
  padding: 0 0.9375rem 0 0.9375rem;
  margin-left: 14.6875rem;
  overflow: hidden;
  min-height: 75rem;
}
#product-list-wrapper .breadcrumbs {
  padding-left: 16.25rem;
}
#product-list-wrapper .wrapper-product-list {
  position: relative;
}
#product-list-wrapper h5 {
  font-family: "GloberxBold";
  font-size: 1.125rem;
}
#product-list-wrapper .title {
  font-family: "GloberxBold";
  font-size: 1.125rem;
}
#product-list-wrapper .title span {
  color: #8a9097;
}

.tags {
  margin: 0.3125rem 0 0rem 0;
  padding: 0.3125rem 0;
  overflow: hidden;
}
.tags a.link {
  bottom: 0.5625rem;
  padding: 0.25rem;
  color: #24C9F6;
  display: block;
}
.tags li {
  display: inline-block;
}
.tags .tag {
  padding-right: 0.625rem;
}
.tags .tag a {
  display: block;
  float: left;
  padding: 0.375rem 0.1875rem;
  font-size: 0.625rem;
}
.tags .tag h4 {
  font-size: 0.75rem;
  float: left;
  padding: 0 0.3125rem;
  margin: 0.4375rem 0.125rem;
  text-transform: uppercase;
}

.sort-by {
  position: absolute;
  top: -3.125rem;
  right: 0rem;
}

.dropdown ul {
  display: none;
  overflow: hidden;
}
.dropdown header {
  position: relative;
}
.dropdown header span {
  position: absolute;
  top: 0.625rem;
  right: 0.25rem;
  font-size: 0.625rem;
}
.dropdown header h5 {
  border-bottom: solid 0.0625rem;
  float: right;
  padding-right: 3.125rem;
}

.glyphicon {
  position: relative;
  top: 0.0625rem;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.grid-list {
  overflow: hidden;
  margin: -1.375rem -0.9375rem;
}
.grid-list .grid-list-item {
  float: left;
}
.grid-list .grid-item-wrapper {
  position: relative;
  text-align: left;
  height: 29.375rem;
  float: left;
  margin-left: 1.25rem;
  margin-bottom: 0.625rem;
}
.grid-list .grid-item-wrapper .grid-item {
  width: 455px;
  padding: 15px;
  height: auto;
  border: 1px solid white;
  background: White;
}
.grid-list .grid-item-wrapper .active {
  position: relative;
}
.grid-list .grid-item-wrapper .active .grid-item {
  border: solid 1px #8A9097;
  z-index: 10;
  border: 1px solid #CCC;
  -webkit-box-shadow: 5px 5px 5px -3px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 5px 5px 5px -3px rgba(0, 0, 0, 0.17);
  box-shadow: 5px 5px 5px -3px rgba(0, 0, 0, 0.17);
}
.grid-list .grid-item-wrapper .active .grid-item .header {
  display: none;
}
.grid-list .grid-item-wrapper .active .grid-item .list {
  display: block;
  overflow: hidden;
  text-align: center;
}
.grid-list .grid-item-wrapper .active .grid-item .list .slider-product {
  overflow: hidden;
}
.grid-list .grid-item-wrapper .active .grid-item .list .swiper-slid-product {
  width: 9.125rem;
  display: inline-block;
  overflow: hidden;
  margin: 0 0.3125rem;
}
.grid-list .grid-item-wrapper .active .grid-item .list .swiper-slid-product img {
  width: 9.125rem;
  height: 6.875rem;
  margin: 0.25rem;
}
.grid-list .grid-item {
  overflow: hidden;
  border: solid 0.0625rem white;
  transition: all 0.5s;
  padding-bottom: 5px;
}
.grid-list .grid-item .grid-image {
  margin-bottom: 0.8125rem;
}
.grid-list .grid-item .grid-image img {
  width: 100%;
  height: auto;
  margin-left: 30px;
  margin-bottom: 11px;
}
.grid-list .grid-item .grid-image img:hover {
  transition: 0.2s ease-in-out;
  border: 0.0937rem solid black;
  cursor: pointer;
  transform: scale(1.05);
}
.grid-list .grid-item .grid-image .addfavority {
  position: relative;
  top: 1.875rem;
  right: 1.875rem;
  font-size: 1.3125rem;
}
.grid-list .grid-item .grid-item-color {
  border-bottom: solid 0.0625rem;
  margin-bottom: 0.625rem;
  overflow: hidden;
}
.grid-list .grid-item .grid-item-color .list {
  display: none;
}
.grid-list .grid-item .grid-item-name {
  text-transform: uppercase;
  float: left;
  font-family: "GloberSemiBold";
  font-size: 0.875rem;
  line-height: 0.875rem;
  margin-bottom: 0.3125rem;
}
.grid-list .grid-item .grid-item-price {
  float: right;
  margin-bottom: 1.25rem;
}