body {
  font-family: "Comfortaa", serif;
}

section {
  display: block;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.title {
  margin: auto;
  width: 30%;
}
.title img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 72.375rem;
  margin: 0 auto;
}

.apps .apps__image {
  display: flex;
  flex-wrap: wrap;
}
.apps .article__item {
  flex: 1 1 0%;
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
  margin-left: 1.75rem;
  margin-right: 1.75rem;
  border-radius: 0.2125rem;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  transition: all 150ms ease-in-out;
  text-decoration: none;
}
.apps .article__item:hover {
  transform: scale(1.025);
}
.apps .article__image {
  padding: 6.4375rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.apps .article__text {
  text-align: center;
  color: black;
}